
.slideContainer {
  position: relative;
}
.picture {
  display: none;
  margin: 0 auto;
  width: 100%;
  height: 500px;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}
.picture img {
  position: center;
  width: 100%;
  height: 100%;
}
.arrow {
  color: white;
  font-size: 3em;
  position: absolute;
  top: 40%;
  left: 5%;
  width: 90%;

}
.previous {
  float: left;
  cursor: pointer;
  opacity: 0.5;
}
.previous:hover {
  opacity: 1;
}
.next {
  float: right;
  cursor: pointer;
  opacity: 0.5;
}

.next:hover {
  opacity: 1;
}